body {
  background-color: #0f0f1a;
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 20px;
}

img {
  max-width: 90%;
  margin-top: 20px;
  border-radius: 12px;
}
